
.just_foradjusting_two{
    margin-right: 2%;
}
.used_to_container_flex{
    display:flex;
    margin-top: -10%;
}
.content_appointments{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.just_foradjusting_three{
    margin-right: 2%;
    
}
.just_foradjusting_six{

    margin-right: 2%;

}
.to_get_bottom_layer{
    position: absolute;
    display: flex;
    bottom:-450px;
    width:65%;
    margin-left: 10%;
    margin-bottom: 13%;
    


}
